.App {
    width: 420.84px;
}
.App-header {
    text-align: center;
    padding: 10px;
    color: #414040;
    border-radius: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:4em;
    margin-left:1em;
    background-color: white;
    padding: 20px 10px;
    border-radius: 10px;
}