* {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
  flex-direction: column;
}
.box {
  width: 100px;
  height: 100px;
}

.box1 {
  background-color: green;
}

.box2 {
  background-color: blue;
}
.box3 {
  background-color: red;
}
