* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .numContainer {
    list-style-type: none;
    border: 3px solid rgb(221, 96, 96);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 85vw;
  }
  

  button{
    background-color: rgb(221, 96, 96);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1{
    margin: 1rem;
    


  }