* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  button{
    background-color: rgb(221, 96, 96);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
